.containerWrapper {
  color: black;
  background-color: #EEEEEE;
  width: 100%;
  padding: 2vw;
}

.pakageWrapperClass {
  background-color: #BAD9F3;
}

.buttonStyles {
  border: 0;
  padding: 8px 30px;
  cursor: pointer;
  font-size: 16px;
  color: white;
  background-color: #34522C;

  &:hover {
    color: white;
    background-color: #5F9551;
  }
}

.indexWrapperStyles {
  color: green;
  padding: 2vw 0;
}

.indexNumberStyles {
  padding: 1vw;
  font-weight: 700;
  font-size: 3vw;
}
