.containerWrapper {
  color: black;
  background-color: #EEEEEE;
  width: 100%;
  padding: 2vw;
}

.indexStyles {
  color: green;
  padding: 2vw 0;
}

.pakageWrapperClass {
  background-color: aquamarine;
}
