.buttonWrapper {
  margin: 2vw auto;
}

.button {
  border: none;
  color: $white;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  padding: 8px 30px;
  text-decoration: none;
  background-color: $light-purple;
  
  &:hover {
    background-color: $button-hover-blue;
  }
}
